@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
/* Borderbox Fix */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* General Settings */

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  background: rgba(46, 46, 46, 1.00);
  background: linear-gradient(#121212, #212938, #304468, #ab38bc, #121212);
}

body {
    background: linear-gradient(180deg,
		rgba(101, 13, 137, 1) 18%,
		rgba(146, 13, 137, 1) 24%,
		rgba(212,0,120, 1) 28%,
		rgba(253, 55, 119, 1) 30%,
		rgba(200, 50, 100, 0.1) 100%
	);
    overflow: hidden;
    margin: 0;
    height: 100vh;
}

img, svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: none;
}

h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    padding: 150px 30px 50px 30px;
    margin-bottom: 3rem;
}
.title {
    font-size: 70px;
}

h2 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    font-size: 20px;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
}

/* Container Settings */

.main-container {
    position: relative!important;
    z-index: 100;
    margin: 50px auto;
    padding: 0;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    perspective: 300px;
}

#reset {
    color: rgba(220,220,220, 1);
    outline: none;
    border: 4px solid #2de2e6;
    margin-top: 250px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 700;
    background: none;
    transition: all 0.2s ease-in-out;
    transform: rotateX(32deg);
    cursor: pointer;
}

#reset:hover {
    color: #2de2e6;
    background: #023788;
}

/* Puzzle */
.main-container, .puzzle-container {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: 30px auto;
    display: grid;
    width: 33vw;
    height: 0px;
    transform: rotateX(32deg);
    grid-template-columns: auto auto auto;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 140px;
    margin: 5px 14px 0px 6px;
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg,
        rgba(146, 13, 137, 0.5) 8%,
        rgba(212, 0, 120, 0.5) 12%,
        rgba(253, 55, 119, 0.5) 15%,
		rgba(255, 136, 0, 0.5) 25%,
		rgba(255, 136, 0, 1) 100%
    );
    border: 3px solid rgba(255, 0, 106, 0.8);
    outline: 0.8px solid #fff;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
}

.block:hover {
    cursor: pointer;
    background: #2de2e6;
}
/* Modal Settings */

.modal {
    position: relative;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 0vh;
    z-index: 1000;
}

#text-body h1 {
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
}

#text-body h3 {
    display: inline-block;
    font-family: 'Damion', cursive;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px auto;
    width: 20vw;
    height: 100px;
    z-index: 1000;
    background: #2de2e6;
}

#computerBtn, #playerBtn {
    width: 180px;
    height: 30px;
    color: #121212;
    z-index: 1000;
}

.player-select {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 200px;
    z-index: 1000;
    color: #121212;
    background: #2de2e6;
}

.player-select > * {
    z-index: 1000;
}

.player-input, label {
    font-size: 16px;
}

input[type="text"] {
    display: flex;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    padding: 5px;
    margin: 5px auto;
    width: 12vw;
}

input[type="submit"] {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    padding: 5px;
    margin: 5px auto;
    width: 12vw;
    cursor: pointer;
    color: #121212;
    background: #fff;
}

input[type="submit"]:hover {
    color: #2de2e6;
    background: #304468;
    transition: 0.2s ease-out;
}

.invisible {
    display: none;
}